a:hover, .nav-link:hover {
    cursor: pointer;
    color: #FF8C42 !important;
}
.redes, .soporte, .legal {
    text-decoration: none;
    color: inherit;
}
.redes:hover, .soporte:hover, .legal:hover {
    color: #FF8C42;
}
.bg-custom{
    background-color: #4E598C !important;
    color: white !important;
}
.btn:hover {
    background-color: #FF8C42 !important;
    color: white !important;
}
#barraDeBusqueda {
    width:430px !important;
}
.filtro {
    color: #FF8C42;
}
.icono-mensaje {
    color: #FF8C42;
}
