.etiqueta {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    background-color: #F9C784;
}

.etiqueta:hover {
    transition: background-color 0.3s ease;
    background-color: #FF8C42;
    cursor: pointer;
}

/* Estilo para las reseñas */
#review, #publicacion, .comentarios {
    border: 2px solid black;
    border-radius: 8px;
}

.card-counter {
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
}
.card-counter:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.card-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn:hover{
    /*background-color: #FF8C42 !important;*/
    color: white !important;
}

