.btn-perso {
    border: 2px solid transparent;
    background: #ff8c42;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 10px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.btn-perso:hover {
    /*background-color: #ffa5a5;*/
    border: 2px solid #000000;
    color: #ffffff !important;
}